<div class="row rec">
  
  <div class="col-md-12">
    <h3>News & Events</h3>
  </div>
  <% news.each do | news_item |  %>

    <div class="col-md-4 smaller">
      <div class="news-item">
        <%= sanitize news_item.body %>
      </div>
    </div>
  <% end %>
</div>

