<script type="text/javascript">
  //TODO only save searches when they have useful records
  $( document ).ready(function() {
    var cookie_name = "lil-searches-1";
    var limit = 4;

    <% save = params[:q].blank?  ? "false" : "true" %>
    var save_cookie = <%= save %>;
    var searches = JSON.parse(readCookie(cookie_name));
    if (searches == null){
      searches = [];
      $('.recent-searches').hide();
    }
    
    var q_param = '<%= params[:q] %>';
    var sort_param = '<%= params[:sort] ||= "" %>';
    var near_param = '<%= params[:near] ||= "" %>';
    var search_obj = {'q': q_param, 'near': near_param, 'sort': sort_param };

    $.each(searches, function(i, search_item){
      if(search_item.q == q_param && search_item.near == near_param ){
        save_cookie = false;
      }
    });

    if (save_cookie) {
           
      if (searches.indexOf(search_obj) === -1){
          searches.unshift(search_obj);
          if (searches.length > limit) {
            searches.pop();
          }
          
        }
      var json_str = JSON.stringify(searches);
      createCookie(cookie_name, json_str, 60);
    } // save_cookie

    //read cookies now
    
    var searches = JSON.parse(readCookie(cookie_name));
    if (searches != null) {
      //console.log(searches);
      $('.recent-searches').show();
      updateRecentSearches(searches);
    }
    
    function updateRecentSearches(searches){
      if (searches == null){
        return false;
      }
      $(".search-item").remove(); //delete all entries first
      var searchDiv = document.getElementById("searches");
      for(i=0;i<searches.length;i++){
       // console.log(searches[i]);
        if (i >= limit) {
          break;
        }
        var near = "";
        if (searches[i].near.length > 0){
          near = "near "+ searches[i].near;
        }
        $('.recent-searches').append('<div class="col-md-3 search-item"><p><a href="/courses?utf8=✓&q='+searches[i].q+'&sort='+searches[i].sort+'&near='+searches[i].near+'">'+ truncate(searches[i].q, 23) +' ' +truncate(near, 20)+'</a></p></div>');
      }
      
    }
      
  });
  
  function truncate(str, n){
    str = (str.length > n) ? str.substr(0, n-1) + "..." : str;
    return str
  } 

</script>

<div class="row recent-searches">
 <div class="col-md-12">
    <h4>Recent Searches</h4>
  </div>
  
</div>
