<div class="row rec">
  
  <div class="col-md-12">
    <h3>Recommendations</h3>
  </div>
  
  <div class="col-md-4">
    <h4><a href="#">First Steps in Computing</a></h4>
    <p>
      A project-based introduction to using ICT in everyday life - linked to ICT SfL.Use of internet for research, email for planning, digital cameras and word processing for recording, email for sharing photos afterwards 
    </p>
    <p> 
      1pm-2pm at <a href="#">Beeston Centre</a> <br />
      Provided by <a href="#">Leeds City College</a>
    </p>
  </div>
    
  <div class="col-md-4">
    <h4><a href="#">First Steps in Computing</a></h4>
    <p>
      A project-based introduction to using ICT in everyday life - linked to ICT SfL.Use of internet for research, email for planning, digital cameras and word processing for recording, email for sharing photos afterwards 
    </p>
    <p> 
      1pm-2pm at <a href="#">Beeston Centre</a> <br />
      Provided by <a href="#">Leeds City College</a>
    </p>
  </div>

  <div class="col-md-4">
    <h4><a href="#">First Steps in Computing</a></h4>
    <p>
      A project-based introduction to using ICT in everyday life - linked to ICT SfL.Use of internet for research, email for planning, digital cameras and word processing for recording, email for sharing photos afterwards 
    </p>
    <p> 
      1pm-2pm at <a href="#">Beeston Centre</a> <br />
      Provided by <a href="#">Leeds City College</a>
    </p>
  </div>

</div>

