<div class="row recent-searches">
 <div class="col-md-12">
  <h4>Recent Searches</h4>
  </div>
  <div class="col-md-3">
    abc
  </div>
    <div class="col-md-3">
      def
  </div>
    <div class="col-md-3">
      geh
  </div>
    <div class="col-md-3">
      jlk
  </div>
    

</div>
