<h2 class="recent-h">Topics</h2>
<div class="quick-topics">
<% cache "topicnav_quick" do %>
  <% for topic in @topics %>
    <span class="quick-topic">
      <%= link_to(topic.name,  topic) %>
    </span>        
  <% end %>
<% end %>
</div>