<div class="row rec welcome">

  <div class="col-md-12">
   
    <div class="welcome-markdown">
      <%= sanitizemarkdown(Kramdown::Document.new( @welcome.body).to_html)%>
    </div>

  </div>

</div>

