<h2>Accessibility statement for Leeds Adult Learning</h2>

<p>
  This accessibility statement applies to content published on leedsadultlearning.co.uk domain.
  </p>
  <p>
  This website is run by Employment and Skills Leeds, Leeds City Council. We want as many people as possible to be able to use this website. For example, that means you should be able to:
  <ul>
  <li>Use this website on most modern browsers and devices</li>
  <li>Navigate most of the website using only a keyboard</li>
  <li>Navigate most of the website using a screen reader </li>
  <li>Navigate most of the website using speech recognition software</li>
  <li>Zoom in up to 200% without the text spilling off the screen</li>
  </ul>
  <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
</p>

<h3>How accessible this website is</h3>
<p>
The site is fully accessible.
</p>

<h3>Feedback and contact information</h3>

<p>
If you need information on this website in a different format email esleeds@leeds.gov.uk and tell us:
<ul>
<li>the web address (URL) of the content</li>
<li>your name and email address</li>
<li>the format you need, for example, audio CD, braille, BSL or large print, accessible PDF</li>
</ul>
</p>


<h3>Reporting accessibility problems with this website</h3>
<p>
If you find any problems that are not listed on this page or you think we’re not meeting the accessibility requirements, email esleeds@leeds.gov.uk.
</p>

<h3>Enforcement procedure</h3>
<p>
If you contact us with a complaint and you’re not happy with our response <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
</p>
<p>
The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’)
</p>

<h3>Technical information about this website’s accessibility</h3>

<p>
Employment and Skills Leeds, Leeds City Council is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
</p>

<h3>Compliance status</h3>
<p>This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>


<h3>Disproportionate burden</h3>
<p>Not applicable.</p>

<h3>Content that’s not within the scope of the accessibility regulations</h3>
<p>Not applicable.</p>

<h3>Preparation of this accessibility statement</h3>
<p>This statement was prepared on 30/3/2021. It was last reviewed on 30/03/2021.</p>
<p>This website was last tested on the 17/11/2020. The test was carried out by the Web Design Team at Leeds City Council.</p>
<p>We tested a selection of pages, ensuring those tested reflected the variety of different page layouts used on our website.</p>
<p>The pages we tested were:
<ul>
<li>Homepage, URL: <a href="https://www.leedsadultlearning.co.uk">https://www.leedsadultlearning.co.uk</a> </li>
<li>About, URL: <a href="https://www.leedsadultlearning.co.uk/about">https://www.leedsadultlearning.co.uk/about</a></li>
<li>Courses for topic: Jobs and work skills, URL: <a href="https://leedsadultlearning.co.uk/topics/5">https://leedsadultlearning.co.uk/topics/5</a> </li>
<li>Course: English and Employability, URL:<a href="https://leedsadultlearning.co.uk/courses/LC2021SFJ055.3729">https://leedsadultlearning.co.uk/courses/LC2021SFJ055.3729</a></li>

</ul>
</p>

<hr class="accessibility-end" />


<%= render partial: 'shared/topic_nav' %>
  
