<h1>Privacy, Your Data & Terms<h1>


    <h2>Your Data</h2>

    <h3>Searches near a place</h3>
    <p>
    When you search for a course near an area, you can give a postcode, use the browser geolocation, or type in a place. What happens with your data depends on the format of that choice.
    </p>
    
    <p>
    Postcodes: Postcodes are looked up and processed internally by the application.
    </p>

    <p>Browser geolocation: The latitude and longitude are processed internally by the application</p>

    <p>Place: If you type in a place, such as a neighbourhood or an address, the system will pass this data (and only that place text data) to <a href="https://developers.google.com/maps/documentation/geocoding/intro">Google Geocoding API</a> Service, to resolve this to a location </p>

    <h3>Routing</h3>
    <h4>Bus </h4>
    <p>
    If you do a search for courses near an area, and view a course, the system passes this location (as latitude and longitude) to the <a href="https://msdn.microsoft.com/en-us/library/ff701705.aspx">Bing Transit API</a> service.     </p>

    <h4>Walking directions </h4>
    <p>
    if you do a search for courses near an area, view a course and select to view walking directions, the system passes this location (as latitude and longitude) to an internal <a href="http://project-osrm.org/">OSRM</a> service running on the same machine so data is not sent to a third party.</a>
    </p>
    <h3>Data choices for location privacy</h3>
     <p>
    You have the choice to search for a nearby place or just a town or neighbourhood to keep your location more  private. For example you can just search for courses near "Beeston" instead of your home address. You also have the choice not to search for courses near a location.
     </p>

    <h3>IP Addresses</h3>
    <p>
    Your IP Address is stored by us in the application and web server logs for the purpose of maintenance, security and abuse prevention. These logs are automatically deleted after 30 days. Logs are not shared with any third party. 
    </p>



    <h3>Cookies</h3>
    <p>
    Cookies are very small text files that are stored on your computer when you visit some websites. 
    We use cookies to help keep a track of whether you are logged in, to check if you have accepted the cookie notice and to aid site navigation state.
    <br />
    We also use a cookie to store your recent searches. This cookie only lives on your computer and doesn't get shared with the application or any third party. <br />
    <br />
    You can also disable third party cookies to disable Google Analytics.
    </p>

    <h3>Google Analytics</h3>
    <p>
    This system uses Google Analytics so we can get statistics about how users use the website so we can improve it. <br />
    Your IP addresses are anoymised with Google Analytics. 
    </p>
  
    <h2> Privacy Notice for Leeds City Council</h2>
    <p>
    Please also view the Leeds Council’s corporate privacy notice, which includes details of the authority’s Data Protection Officer and your Information Rights. It is available at <a href="https://www.leeds.gov.uk/privacy-statement/privacy-notice">https://www.leeds.gov.uk/privacy-statement/privacy-notice</a>

    </p>

    <h2>Operator</h2>
    <p>This website is developed and run by Tim Waters and <a href="https://watersgeospatial.co.uk">Waters Geospatial Ltd</a> on servers located in Germany, EU. It is funded by Leeds City Council.</p>
    <h2>
      License
    </h2>
    <p>
    The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.
    </p>

<%= render partial: 'shared/topic_nav' %>
  
