<% content_for :title, 'About' %>
<% if @page && @page.name == "about" %>
<div class="container">
  <%= sanitizemarkdown(Kramdown::Document.new(@page.body).to_html)%>
</div>
<% else %>

<% end %>

<%= render partial: 'shared/topic_nav' %>