default: &default
  general_tel: "0113123456"
  general_tel_formatted: "0113 123456"
  bing_maps_key: abc
  transportapi_id: abc
  transportapi_key: abc
  mapzen_key: abc
  google_key: abc 

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
