default: &default
  general_tel: "0113123456"
  general_tel_formatted: "0113 123456"
  general_email: enquiries@example.com
  bing_maps_key: abc
  transportapi_id: abc
  transportapi_key: abc
  mapzen_key: abc
  google_key: abc
  csv_upload_url: http://example.com/courses.csv
  transit_routing: transportapi #bing or transportapi

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
