default: &default
  general_tel: "0113123456"
  general_tel_formatted: "0113 123456"
  general_email: enquiries@example.com
  bing_maps_key: abc
  transportapi_id: abc
  transportapi_key: abc
  google_key: abc
  csv_upload_url: http://example.com/courses.csv
  transit_routing: transportapi #bing or transportapi
  google_analytics_id: UA-123
  osrm_url: http://localhost:5000
  form_template: "https://docs.google.com/forms/example/viewform?usp=pp_url&entry.123=%{course_title}&entry.123=%{course_code}&entry.123=%{start_date}&entry.123=%{end_date}"
  upload_hash_secret: 

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
