<% content_for :title, @story.title + " - Stories" %>

<div class="story container">
  <h2><%= @story.title %></h2>
  <%= sanitizemarkdown(Kramdown::Document.new(@story.body).to_html)%>
 
</div>
<div class="container">
  <p><%=link_to "View more stories", stories_path, class: "btn btn-lil" %></p>
  <br />
</div>