<% content_for :title, @story.title + " - Learner Story" %>

<div class="story container">
  <h1><%= @story.title %></h1>
  <%= sanitizemarkdown(Kramdown::Document.new(@story.body).to_html)%>
 
</div>
<div class="container">
  <p><%=link_to "View more learner stories", stories_path, class: "btn btn-lil" %></p>
  <br />
</div>