
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "leaflet";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#map {
    width: 1400px;
    height: 1000px; 
}

@import 'active_admin/simplemde';


#story_body_input, #news_body_input, #story_excerpt_input, #news_excerpt_input {
    label {
        height: 5em;
    }
    .editor-toolbar {
        border:none;
    }
}
#story_excerpt_input, #news_excerpt_input {

    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 100px;
        min-height: 100px;
    }
}

.error_log {
    background: #faeaec;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
}



.active_admin {
  form trix-editor {
    margin-left: 20%;
    width: calc(80% - 22px);
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    min-height: 200px;
    &:focus {
      border: 1px solid #99a2aa;
      box-shadow: 0 0 4px #99a2aa;
      outline: none;
    }
  }

  form trix-toolbar {
    margin-left: 20%;
    width: calc(80% - 22px);
  }

  form .trix-dialogs .trix-dialog--link {
    margin-left: 20%;
    width: calc(80% - 22px);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeeeee;

    .trix-button-group {
      margin-top: 10px;
    }
  }
}


@import "actiontext";
@import "trix_custom";

.row-content img{
  display: block;
}

trix-editor .attachment--preview{
 img {
  display: block;
 }
 figcaption {
  text-align: left !important;
 }
}