
#cookie_directive_container nav  {
color: black;
background-color: #BED1F4;
-webkit-box-shadow: 0px 2px 11px 9px #90a7d0 ;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow:    0px 2px 11px 9px #90a7d0 ;  /* Firefox 3.5 - 3.6 */
box-shadow:         0px 2px 11px 9px #90a7d0;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
border: none;

}
#accept-button {
 background-color: #8E2A8D;
 padding-top:10px;
 padding-right: 20px;
 padding-left: 20px;
 padding-bottom: 10px;
 font-size: x-large;
 margin-top:10px;
 margin-left: 10px;
 -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}



.cookie-h {
 font-size: x-large;
 font-weight: bold;
}




