
#cookie_directive_container {
  padding-top: 10px;
  padding-bottom: 10px;
}

#cookie_directive_container  nav  {
  color: #092F44;
  background-color: #ED7218;
  border-radius: 25px;
  border: 0px;
}

#cookie_accept{
  margin-top: 5px;
}


#accept-button, #decline-button {
border: none;
margin-bottom: 20px;
 margin-top:20px;
 margin-left: 10px;
 font-size: 16px;
 line-height: 16px;
 color: #092F44;
 padding: 12px 22px;
 border-radius: 50px;
 text-decoration: none;
 text-shadow:none;
 background:#E9EDF0;
 transition: background 0.2s ease-in-out;
}

#accept-button:hover, #decline-button:hover {
  background-color: #F5A027 ;
}

#accept-button:focus, #decline-button:focus {
  outline-color: white;
  outline-offset: 4px;
  outline-style: solid;
  outline-width: 2px;
}




.cookie-h {
 font-size: x-large;
 font-weight: bold;
}




