
$camo:#92B558;
$camo-light:#cef390;
$slight:#7a8990;
$box-background: #edeffc ;
$box-border: #3f4f5e;
$button: #90a7d0;
$links: #8e2a8d;

$darkblue: #004c6e;
$purple:   #8E2A8D;
$yellow:   #f4ff8d;
$straw:    #dedc00;
$lightblue:#e2eefa;

$iglblue: #092F44;
$iglmutedblue: #436168;
$iglorange: #F5A027;
$igldarkorange:  #ED7218;


a {
  color: $iglblue !important;
 }

 main a {
    font-weight: bold;
    color: $iglblue;
    text-decoration: underline;
    text-decoration-color: $iglorange !important;
  }
  
  main a:hover {
    color: lighten($iglblue, 10%)
  }

main a:hover, a.hover{
color: $iglmutedblue !important;
}

*:focus {
    background-color: $straw;
  }
  a:focus {
    text-decoration: none;
  }


.btn-lil {
  color: $iglblue;
  background-color: $igldarkorange !important;
  border: none !important;
  text-shadow:  none;
  border-radius: 25px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
}


.btn-lil:hover, .btn-lil:focus, .btn-lil.focus{
  background: $iglorange !important;
  text-decoration: none;
  color: $iglblue;
}

body {
     -ms-overflow-style: scrollbar;
     font-family: rustica,'Lato',Helvetica,Arial,sans-serif !important;
    }


.slight {
    color: lighten($purple, 10%);
}

.smaller {
    font-size: small;
}
.larger-head {
 font-size: 50px;
}

.topic {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: $igldarkorange;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 5px;
    min-height: 127px;
}
@media screen and (max-width: 340px) {
    .topic {
        font-size: 90%;
    }
}

.rec {
padding-top: 20px;
}

h.title {
    margin-top: 0px;
}

.page-head {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}
h1 {
    font-family: rustica,'Lato',Helvetica,Arial,sans-serif !important;
    font-style: italic;
    color: $purple !important;
    padding-top: 25px;
}

h1 a.rootlink {
    text-decoration: none;
    font-size: 40px;
    color: $purple !important;
}

h1 a.rootlink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    h1 {
        margin-top: 10px !important;
    }
    h1 a.rootlink {
         margin-top: 0px !important;
        font-size: 30px !important;
    }
    .larger-head {
      font-size: 35px !important;
    }
    .lal-logo {
      height: 120px;
    }
}
@media screen and (max-width: 340px) {
    h1 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    h1 a.rootlink {
        margin-top: 0px !important;
        font-size: 22px !important;
    }

    .larger-head{
      font-size: 30px !important;
    }
    .lal-logo {
      height: 100px;
    }
}


.welcome {
  font-size: 16px;
}



h2.search-heading {
    font-style: italic;
}


.control-label{
  font-size: larger;
}

.show-all {
  font-size: larger;
}
.course-result {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;

    border-color: $igldarkorange;
    border-width: 1px;
    border-style: solid;
}

.course-main {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right:15px;
    background-color: $lightblue;
}

.course-map {
    padding-top: 15px;
}

.course-directions {
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 15px;

    background-color: $lightblue;
}

.rotate {
    color: grey;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;
  left:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-left: -4px !important;
}

.add-on .form-control:focus {
     box-shadow:none;
     -webkit-box-shadow:none; 
     border-color:#cccccc; 
}

.gimme-rounds {
    border-radius: 3px !important;

}

#map {
    width: auto;
    height: 400px;
}

@media screen and (max-width: 450px) {
    #map {
       
        height: 300px;
    }
}
@media screen and (max-width: 350px) {
    #map {
      
        height: 250px;
    }

}


.venue-map {
    padding-bottom:10px;
}

.pagination {
    float: left !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: #000 !important;
}

.sort-links{
    font-weight: bold;
}

a.sort-link {
    font-weight: normal;
}

div.cal {
    margin-bottom: 10px;
}

.approx {
  font-style: italic;
  color: grey;
}
.line_name {
    color: teal;
    font-weight: bold;
}
td.text-center img {
    margin-top: 6px;
}

.news-item {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: $lightblue;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.geobutton {
    padding: 3px !important;
}
.location-hint{
    color: #545454;
}

.interested {
  padding-top: 10px;
  font-size: medium;
}

.topic-promotion {
  background-color: $camo-light;
  padding-top: 0px;
}

.enrol {
  text-decoration: none !important;

  font-size: 16px !important;;
    text-shadow: none;
    color: white !important;
    }


/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       font-url('lato-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       font-url('lato-v13-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



footer {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 150px;
  margin-top: 90px;
  position: relative;

  }

  footer:before {
    content: '';
    position: absolute;
    right: 0;
    top: -70px;
    
    background: asset_url('footer--shape-mob.svg') no-repeat right bottom;
    background-size: contain;
    display: block;
    width: 250px;
    height: 250px;
    z-index: -1;

    @media (min-width: 320px) {
      top: -70px;
      width: 250px;
      height: 250px;
    }

    @media (min-width: 480px) {
      width: 400px;
      height: 400px;
      bottom: 30%;
      top: auto;
    }


    @media (min-width: 1500px) {
      bottom: 65px;
      width: 600px;
      height: 600px;
    }

 }

  footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: $iglblue;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  footer .nav{
    margin-bottom: 35px;
    max-width: 1340px;
    @media (min-width: 768px) {
      font-size: 17px;
    }
  }

  footer  ul {
    list-style: none outside;
    text-align: left;
  }
  footer  li {
    padding: 0;
    margin-bottom: 15px;
  }
 

  

  footer a {
    color: white !important;
    text-decoration: none !important;
  }
  footer a:hover {
    color: white;
    text-decoration: underline;
  }
  footer a:focus{
    color: $purple !important;
    background-color: #e2eefa !important;
    text-decoration: underline;
    
  }
  
  footer .links {
    padding-left: 7px;
    margin: 0 0 15px 0;
    li {
      display: inline-block;
      padding: 0;
      margin: 0 15px 0 0;
    }

    a{
      font-size: 10px;
      color: inherit;
      text-decoration: none;
      @media (min-width: 768px) {
        font-size: 14px;
      }
    }
  }

  @media (min-width: 768px) {
    .linksandlogo{ 
        display: flex;
        align-items: center;
    }
}


  
  footer .logo-footer  {
    margin-bottom: 30px;
    img {
      margin: 0 15px 0 0;
      max-width: 100px;
      height: auto;
    }
 
  }


  .recent-h{
    font-size: medium;
  }

  form input[type="text"] {
    border-color: darkslategray;
  }

  .sr-only-focusable:focus {
    position: relative !important;
    width: auto;
    height: auto; 
    margin: 0; 
    overflow: auto; 
    clip: auto; 
    color: $purple;
  }
  
  .skip-to-content{
    z-index: 1050;
    position: relative;
    color: $purple;
  }



  .navbar  {
    button {
      background-color:  $iglblue  ;
    }
    button:hover{
      // background-image: linear-gradient(180deg, #f87df8, #8e2a8d);
      background: $iglmutedblue;
    }
  
    .icon-bar {
      background-color: white !important;
    }
    
    .navbar-toggle {
      border-color: $iglblue !important;
      top: 6px;
      border-radius: 100%;
    }

    .navbar-toggle:active  {
      background-color: $iglblue !important ;
    }
    .navbar-toggle:focus  {
      background-color: $iglblue !important ;
    }

    .navbar-header {
      width: 100%;
      padding: 0;
      .links {
        display: flex;
        justify-content: end;    
      }
      .navbar-link {
        color:white !important;
        padding: 14px 15px;
        font-size: 18px;
        line-height: normal;
        text-decoration: none;
        padding-top: 26px;
        @media screen and (max-width: 480px) {
          visibility: hidden;
        }
        @media screen and (min-width: 768px) {
          padding-top: 39px;
        }
      }
      .navbar-link:hover{
        background: $iglmutedblue;
        border-radius: 25px;
      }
    }

    .nav-link {
      color: white !important;
    }

    .navbar-form {
      box-shadow: none !important;
    }
  
}



.nav-wrapper {
  padding: 0 1.25em;
}

.navbar-igl{
  border-radius: 60px !important;
  background-color: $iglblue;
  margin: 0 auto;
  position: relative;
  max-width: 94em;
  @media screen and (max-width: 1170px) {
    margin: 0 1.85em;
   
  }
}

.site-name {
  display: none;
}
.site-logo {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 70px;
  background: $iglorange;
  border-radius: 100%;
  position: relative;
  left: -2px;
  float:left;
  @media screen and (min-width: 768px) {
    height: 100px;
    width: 100px;
    left: -17px;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
    @media screen and (min-width: 768px) {
      width: 75px;
    }
    }
 }

 .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
 }


 .iglimage:before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
     background: asset_url('clip.svg') no-repeat top center;
     background-size: auto;
    background-size: contain;
 }

 .iglimage:after{
  clear: both;
  display: block;
  content: '';
}
.iglimage {
  @media screen and (max-width: 992px) {
    max-width: 400px;
    margin: 0 auto 30px;
  }
}


 
.iglimage img{
  display: block;
max-width: 100%;
height: auto;
}

 span.quick-topic {
   padding-right: 10px;
 } 
 .quick-topics {
   padding-bottom: 5px;
 }

 .help-block {
   color: #545454 !important;
 }

 hr.accessibility-end {
  width: 50%;
  padding-bottom: 50px;
 }

// bootstrap 3
// @media only screen and (min-width : 320px) {

// /* Extra Small Devices, Phones */ 
// @media only screen and (min-width : 480px) {

// /* Small Devices, Tablets */
// @media only screen and (min-width : 768px) {

// /* Medium Devices, Desktops */
// @media only screen and (min-width : 992px) {

// /* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {
