
$camo:#92B558;
$camo-light:#cef390;
$slight:#7a8990;
$box-background: #edeffc ;
$box-border: #3f4f5e;
$button: #90a7d0;
$links: #444a9e;

a {
    color: $links !important;
 }


a:hover, a.hover{
     color: #1621b1 !important;
}

.btn-lil {
  color: #fff;
  background-color: $camo !important;
  border-color: #66648b !important;
  text-shadow:  #516b2c 0 1px 0;
}


.btn-lil:hover, .btn-lil:focus, .btn-lil.focus{
 background-image: linear-gradient(180deg, $camo, #476a30) !important;
  text-decoration: none;
  background-color: #476a30 !important;
  color: white !important;
}

body {
     -ms-overflow-style: scrollbar;
}

.slight {
    color: $camo;
}

.smaller {
    font-size: small;
}
.larger-head {
 font-size: 50px;
}

.topic {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: $box-background;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 5px;
    min-height: 127px;
}
@media screen and (max-width: 340px) {
    .topic {
        font-size: 90%;
    }
}

.rec {
padding-top: 20px;
}

h.title {
    margin-top: 0px;
}

.page-head {
padding-top: 5px;
padding-bottom: 5px;
}
h1 {
    font-family: 'Lato', sans-serif !important;
    font-style: italic;
    color: $slight !important;
    padding-top: 25px;
}

h1 a.rootlink {
    text-decoration: none;
    font-size: 40px;
    color: $slight !important;
}

h1 a.rootlink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    h1 {
        margin-top: 10px !important;
    }
    h1 a.rootlink {
         margin-top: 0px !important;
        font-size: 30px !important;
    }
    .larger-head {
      font-size: 35px !important;
    }
    .lal-logo {
      height: 120px;
    }
}
@media screen and (max-width: 340px) {
    h1 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    h1 a.rootlink {
        margin-top: 0px !important;
        font-size: 22px !important;
    }

    .larger-head{
      font-size: 30px !important;
    }
    .lal-logo {
      height: 100px;
    }
}


.skyline {
 margin-top: 15px;
  padding-bottom:0px;
}

h2.search-heading {
    font-style: italic;
}

.footer {
    border-top: 0px $slight solid;
   margin-top: 0px;
    color: $slight;
}

.course-result {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $box-background;
}

.course-main {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right:15px;
    background-color: $box-background;
}

.course-map {
    padding-top: 15px;
}

.course-directions {
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 15px;

    background-color: $box-background;
}

.rotate {
    color: grey;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;
  left:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-left: -4px !important;
}

.add-on .form-control:focus {
     box-shadow:none;
     -webkit-box-shadow:none; 
     border-color:#cccccc; 
}

.gimme-rounds {
    border-radius: 3px !important;

}

#map {
    width: auto;
    height: 400px;
}

@media screen and (max-width: 450px) {
    #map {
       
        height: 300px;
    }
}
@media screen and (max-width: 350px) {
    #map {
      
        height: 250px;
    }

}


.venue-map {
    padding-bottom:10px;
}

.pagination {
    float: left !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: #000 !important;
}

.sort-links{
    font-weight: bold;
}

a.sort-link {
    font-weight: normal;
}

div.cal {
    margin-bottom: 10px;
}

.approx {
  font-style: italic;
  color: grey;
}
.line_name {
    color: teal;
    font-weight: bold;
}
td.text-center img {
    margin-top: 6px;
}

.news-item {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: $box-background;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.geobutton {
    padding: 3px !important;
}
.location-hint{
    color: grey;
}

.interested {
  padding-top: 10px;
}

.topic-promotion {
  background-color: $camo-light;
  padding-top: 0px;
}

.share {
  padding-bottom: 10px;
}
.rrssb-buttons {
  font-size: 13px !important;
}

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       font-url('lato-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       font-url('lato-v13-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
