body {
     -ms-overflow-style: scrollbar;
}

.slight {
    color: grey;
}

.smaller {
    font-size: small;
}

.topic {
    border-radius: 10px;
    background-color: rgb(246, 243, 243);
    text-align: center;
    margin-bottom: 5px;
}

.rec {
padding-top: 20px;
}

h.title {
    margin-top: 0px;
}
h1 {
    font-family: 'Lato', sans-serif !important;
    font-style: italic;
}

h1 a.rootlink {
    text-decoration: none;
    font-size: 40px;
}
h1 a.rootlink:hover {
    text-decoration: underline;
}

.skyline {
    padding-bottom:20px;
}

h2.search-heading {
    font-style: italic;
}

.footer {
    border-top: 1px #b7b7b7 solid;
    margin-top: 40px;
    color: grey;
}

.course-result {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(246, 243, 243);
}

.course-main {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right:15px;
    background-color: rgb(246, 243, 243);
}

.course-directions {
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 15px;

    background-color: rgb(246, 243, 243);
}

.rotate {
    color: grey;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;
  left:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-left: -4px !important;
}

.add-on .form-control:focus {
     box-shadow:none;
     -webkit-box-shadow:none; 
     border-color:#cccccc; 
}

.gimme-rounds {
    border-radius: 3px !important;

}

#map {
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 450px) {
    #map {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 350px) {
    #map {
        width: 250px;
        height: 250px;
    }

}


.venue-map {
    padding-bottom:10px;
}

.pagination {
    float: left !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: #000 !important;
}

.sort-links{
    font-weight: bold;
}

a.sort-link {
    font-weight: normal;
}

div.cal {
    margin-bottom: 10px;
}

.approx {
  font-style: italic;
  color: grey;
}
.line_name {
    color: teal;
    font-weight: bold;
}
td.text-center img {
    margin-top: 6px;
}

.news-item {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f6f3f3;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.geobutton {
    padding: 3px !important;
}
.location-hint{
    color: grey;
}



/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       font-url('lato-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       font-url('lato-v13-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
