
$camo:#92B558;
$camo-light:#cef390;
$slight:#7a8990;
$box-background: #edeffc ;
$box-border: #3f4f5e;
$button: #90a7d0;
$links: #8e2a8d;

$darkblue: #004c6e;
$purple:   #8E2A8D;
$yellow:   #f4ff8d;
$straw:    #dedc00;
$lightblue:#e2eefa;



a {
  color: $links !important;
 }

 main a {
    font-weight: bold;
    color: $purple;
    text-decoration: underline;
  }
  
  main a:hover {
    color: lighten($purple, 10%)
  }

main a:hover, a.hover{
color: #b536b4 !important;
}

*:focus {
    background-color: $straw;
  }
  a:focus {
    text-decoration: none;
  }


.btn-lil {
  color: #fff;
  background-color: $purple !important;
  border-color: #66648b !important;
  text-shadow:  #516b2c 0 1px 0;
}


.btn-lil:hover, .btn-lil:focus, .btn-lil.focus{
 background-image: linear-gradient(180deg, $purple, #571956) !important;
  text-decoration: none;
  background-color: #476a30 !important;
  color: white !important;
}

body {
     -ms-overflow-style: scrollbar;
}

.slight {
    color: lighten($purple, 10%);
}

.smaller {
    font-size: small;
}
.larger-head {
 font-size: 50px;
}

.topic {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: $lightblue;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 5px;
    min-height: 127px;
}
@media screen and (max-width: 340px) {
    .topic {
        font-size: 90%;
    }
}

.rec {
padding-top: 20px;
}

h.title {
    margin-top: 0px;
}

.page-head {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}
h1 {
    font-family: 'Lato', sans-serif !important;
    font-style: italic;
    color: $purple !important;
    padding-top: 25px;
}

h1 a.rootlink {
    text-decoration: none;
    font-size: 40px;
    color: $purple !important;
}

h1 a.rootlink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    h1 {
        margin-top: 10px !important;
    }
    h1 a.rootlink {
         margin-top: 0px !important;
        font-size: 30px !important;
    }
    .larger-head {
      font-size: 35px !important;
    }
    .lal-logo {
      height: 120px;
    }
}
@media screen and (max-width: 340px) {
    h1 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    h1 a.rootlink {
        margin-top: 0px !important;
        font-size: 22px !important;
    }

    .larger-head{
      font-size: 30px !important;
    }
    .lal-logo {
      max-width: 100%;
      height: auto;
    }
}


.skyline {
 margin-top: 15px;
  padding-bottom:0px;
}

h2.search-heading {
    font-style: italic;
}

.footer {
    border-top: 0px $slight solid;
   margin-top: 0px;
    color: $slight;
}

.course-result {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $lightblue;
}

.course-main {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right:15px;
    background-color: $lightblue;
}

.course-map {
    padding-top: 15px;
}

.course-directions {
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 15px;

    background-color: $lightblue;
}

.rotate {
    color: grey;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;
  left:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-left: -4px !important;
}

.add-on .form-control:focus {
     box-shadow:none;
     -webkit-box-shadow:none; 
     border-color:#cccccc; 
}

.gimme-rounds {
    border-radius: 3px !important;

}

#map {
    width: auto;
    height: 400px;
}

@media screen and (max-width: 450px) {
    #map {
       
        height: 300px;
    }
}
@media screen and (max-width: 350px) {
    #map {
      
        height: 250px;
    }

}


.venue-map {
    padding-bottom:10px;
}

.pagination {
    float: left !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: #000 !important;
}

.sort-links{
    font-weight: bold;
}

a.sort-link {
    font-weight: normal;
}

div.cal {
    margin-bottom: 10px;
}

.approx {
  font-style: italic;
  color: grey;
}
.line_name {
    color: teal;
    font-weight: bold;
}
td.text-center img {
    margin-top: 6px;
}

.news-item {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: $lightblue;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.geobutton {
    padding: 3px !important;
}
.location-hint{
    color: #545454;
}

.interested {
  padding-top: 10px;
  font-size: medium;
}

.topic-promotion {
  background-color: $camo-light;
  padding-top: 0px;
}

.enrol {
  text-decoration: none !important;

  font-size: 16px !important;;
    text-shadow: none;
    color: white !important;
    }


/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       font-url('lato-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       font-url('lato-v13-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

footer {
    background-color:$purple;
    min-height: 75px;
    margin-top: 2rem;
  }
  footer a {
    color: white !important;
    text-decoration: underline;
  }
  footer a:hover {
    color: white;
  }
  footer a:focus{
    color: $purple !important;
    background-color: #e2eefa !important;
    
  }
  
  footer .links {
    padding-top: 22px;
    color: white;
    font-size: 18px;
    align-self: first baseline;
  }
  footer .copyright {
    font-size: 13px;
  }
  
  footer .logo-footer span {
    // background: asset_url('lcc-logo-white-01.svg') center center/100% 100% no-repeat;
    display: block;
    height: 40px;
    width:100px;
    margin-top: 12px;
    @media screen and (max-width: 340px) {
    img {
      max-width: 100%;
      height: auto;
    }
    }
  }
  
  // .footer {
  //   margin-right:0px !important;
  //  // display: flex !important;
  // }

  .recent-h{
    font-size: medium;
  }

  form input[type="text"] {
    border-color: darkslategray;
  }

  .sr-only-focusable:focus {
    position: relative !important;
    width: auto;
    height: auto; 
    margin: 0; 
    overflow: auto; 
    clip: auto; 
    color: $purple;
  }
  
  .skip-to-content{
    z-index: 1050;
    position: relative;
    color: $purple;
  }
  
  .navbar 
  {
    button {
      background-color: $purple ;
    }
    button:hover{
      background-image: linear-gradient(180deg, #f87df8, #8e2a8d);
    }
  
    .icon-bar {
      background-color: white !important;
    }
    
    .navbar-toggle {
      border-color: darkslategray !important;
    }

    .navbar-toggle:active  {
      background-color: $purple !important ;
    }
    .navbar-toggle:focus  {
      background-image: linear-gradient(180deg, #f87df8, #8e2a8d);
      outline-color: rgb(255, 181, 43);
      outline-offset: 4px;
      outline-style: solid;
      outline-width: 2px;
    }
  }

 span.quick-topic {
   padding-right: 10px;
 } 
 .quick-topics {
   padding-bottom: 5px;
 }

 .help-block {
   color: #545454 !important;
 }

 hr.accessibility-end {
  width: 50%;
  padding-bottom: 50px;
 }