.slight {
    color: grey;
}

.smaller {
    font-size: small;
}

.topic {
    border-radius: 10px;
    background-color: rgb(246, 243, 243);
}

.rec {
padding-top: 20px;
}

h.title {
    margin-top: 0px;
}

h2.search-heading {
    font-style: italic;

}

.footer {
    border-top: 1px #b7b7b7 solid;
    margin-top: 40px;
    color: grey;
}

.course-result {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(246, 243, 243);
}

.course-main {
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right:15px;
    background-color: rgb(246, 243, 243);
}

.course-directions {
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 15px;

    background-color: rgb(246, 243, 243);
}

.rotate {
    color: grey;
}
